div.bordered-div {
    border: solid white;
    border-radius: 25px;
}

div.bordered-div.pad {
    padding: 30px;
}

div.bordered-div.div-black {
    border: solid black;
}

div.bordered-div.div-green {
    border: solid green;
    border-radius: 25px;
}

div.bordered-div.div-yellow {
    border: solid yellow;
    border-radius: 25px;
}

div.bordered-div.div-blue {
    border: solid blue;
    border-radius: 25px;
}

div.bordered-div.fill {
    border: solid white;
    border-radius: 25px;
    background: white;
}

div.bordered-div.div-black.fill {
    border: solid black;
    border-radius: 25px;
    background: black;
}

div.bordered-div.div-green.fill {
    border: solid green;
    border-radius: 25px;
    background: green;
}

div.bordered-div.div-yellow.fill {
    border: solid yellow;
    border-radius: 25px;
    background: yellow;
}

div.bordered-div.div-blue.fill {
    border: solid blue;
    border-radius: 25px;
    background: blue;
}